.general-body{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("img/natureBackground.png");	
	opacity: 70%;
}

.nextstay-body{
	background: url("img/flight.png");	
	background-repeat: no-repeat;
	background-size: cover;
}
.deals-body{
	background: url("img/deals.png");	
	background-repeat: no-repeat;
	background-size: cover;
}

.ticket-body{
	background: url("img/ticket.png");	
	background-repeat: no-repeat;
	background-size: cover;
}
.selectflight-body{
	background: url("img/selectflight.png");	
	background-repeat: no-repeat;
	background-size: cover;
}

.success-body{
	background: url("img/success.png");	
	background-repeat: no-repeat;
	background-size: cover;
}
body{

	margin:0;
}
.payment-body{
	background: url("img/payment.png");	
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	/*background-position:center center;*/
	}
.logo{
	margin: auto;
	height: 120px;
	width:140px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.logo-parent{
	padding-top: 30px;
	padding-left: 60px;

}
.flight-button{
	height: 50px;
	width:50px;
	position: absolute;
	top: 180px;
	left: 80px;
	background: transparent;
	border: 0;
}
.flight-button-2{
	height: 120px;
	width:300px;
	position: absolute;
	top: 200px;
	left: 40px;
background: transparent;
	border: 0;
}
.flight-button-3{
	height: 120px;
	width:300px;
	position: absolute;
	top: 380px;
	left: 40px;
	background: transparent;
	border: 0;
}
.flight-button-4{
	height: 50px;
	width:300px;
	position: absolute;
	top: 520px;
	left: 40px;
background: transparent;
	border: 0;
}
.flight-button-5{
	height: 50px;
	width:130px;
	position: absolute;
	top: 515px;
	left: 40px;
background: transparent;

	border: 0;
}
.flight-button-6{
	height: 50px;
	width:130px;
	position: absolute;
	top: 515px;
	left: 205px;
background: transparent;

	border: 0;
}
h2{
color: white;
font-family: arial;
padding-left: 15px;
}
	{da
color: white;
font-family: Segoe Script;

}

.parent{
	padding-left: 30px;
 }
 .login{
 	padding-top: 15px;
 }
 .username{

   border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
     width: 300px;
   
 }
 .password{

 
 	  border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
     width: 300px
 }

 .login-button{
 	padding-top: 30px;
 	width: 300;
 	margin-bottom:5px;
 }

 
 .forgot-password{
 	color:white;
 	padding-left: 199px;
 	padding-top: 10px;
 	font-size: 14px;

 }

 .signup
 {
 	display: flex;
 	color:white;
 	padding-left: 10px;
 	padding-top: 13px;

 }
.continue{
padding-left: 45px;
padding-top: 600px;
}
 .dont-have-account{
 	padding-left: 50px;
 	display: flex;
 	color:white;
 	padding-bottom: : 50px;

 }
.dont-have-account-2{
 color: gray;
 }

 .verify
 {
padding-top: 100px;
padding-left: 32px;
}
.reset-password-label{
	font-size: 20px;
	color: white;
	text-align:center;
	padding-top:75px;
}

.deals-tab{
	padding-left: 50px;
	padding-top: 100px;
}

.car-plane{
	padding-bottom: 90px;
	max-width: 20px;
}

.car{

}

.where-stay{
	text-align: center;
	padding-top: 40px;
}
.where-stay-form{
	text-align: center;
	padding-top: 40px;
}



